*~
*.a
*.diff
*.orig
*.rej
*.dll*
*.exe
*.def
*.lib
*.pdb
*.mo
*.o
*.patch
*.pc
*.pot
*.so*
*.dylib
.*.swp
.depend
.DS_Store
TAGS
config.h
config.mak
config.log
x264_config.h
x264
checkasm

*.264
*.h264
*.2pass
*.ffindex
*.avs
*.mkv
*.flv
*.mp4
*.y4m
*.yuv
*.log
*.mbtree
*.temp
*.pyc
*.pgd
*.pgc

.digress_x264
dataDec.txt
log.dec
common/oclobj.h
x264_lookahead.clbin
/install/linux/hisiv200/lib
/install/linux/hisiv200/bin
/install/linux/hisiv200/include
/install/linux/hisiv200_static/lib
/install/linux/hisiv200_static/bin
/install/linux/hisiv200_static/include
/install/windows/x86_x64_msvc/bin
/install/windows/x86_x64_msvc/include
/install/windows/x86_x64_msvc/lib
/install/windows/x86_x64_msvc_static/bin
/install/windows/x86_x64_msvc_static/include
/install/windows/x86_x64_msvc_static/lib
/install/linux/x86/bin
/install/linux/x86/include
/install/linux/x86/lib
/install/linux/x86_static/include
/install/linux/x86_static/lib
/install/linux/x86_static/bin
/install/windows/x86_msvc/bin
/install/windows/x86_msvc/include
/install/windows/x86_msvc/lib
/install/windows/x86_msvc_static/include
/install/windows/x86_msvc_static/lib
/install/windows/x86_msvc_static/bin
/install/windows/x86_x64_mingw/bin
/install/windows/x86_x64_mingw/include
/install/windows/x86_x64_mingw/lib
/install/windows/x86_x64_mingw_static/bin
/install/windows/x86_x64_mingw_static/include
/install/windows/x86_x64_mingw_static/lib
/install/windows/x86_mingw/include
/install/windows/x86_mingw/lib
/install/windows/x86_mingw/bin
/install/windows/x86_mingw_static/bin
/install/windows/x86_mingw_static/include
/install/windows/x86_mingw_static/lib
/install/android/arm64-v8a/include
/install/android/arm64-v8a/lib
/install/android/arm64-v8a/bin
/install/android/armeabi-v7a/include
/install/android/armeabi-v7a/lib
/install/android/armeabi-v7a/bin
/install/android/x86/include
/install/android/x86/lib
/install/android/x86/bin
/install/android/x86_64/include
/install/android/x86_64/lib
/install/android/x86_64/bin
/install/android/armeabi-v7a-static/lib
/install/android/armeabi-v7a-static/bin
/install/android/armeabi-v7a-static/include
/install/android/arm64-v8a-static/include
/install/android/arm64-v8a-static/lib
/install/android/arm64-v8a-static/bin
